[Unit]
Description=Keep me alive
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=porko
Group=porko
ExecStart=/usr/bin/keep_me_alive

[Install]
WantedBy=multi-user.target

